:root {
    --table-heading-font-size: 10vh;
    --table-element-font-size: 7vh;
    /* --title-color: #f8f8f8;
    --topic-color: #f8f8f8;
    --background-color: #073763;
    --question-color: #ffffff;
    --answer-color: #ffffff; */
    --title-color: red;
    --topic-color: red;
    --question-board-color: red;
    --background-color: red;
    --question-color: red;
    --answer-color: red;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#home-container {
    display: inline-grid;
    /* display: none; */
}

#home-container > button {
    margin: 10px 30px 10px 30px;
}

#create-board-container {
    display: none;
    padding: 0px 20vw 0px 20vw;
    text-align: left;
}

#create-board-container > h1, button {
    text-align: center;
}

#create-board-container > hr {
    width: 100%;
    border: 1px white solid;
}

#create-board-container > div  {
    width: 400px;
}

#create-board-container > div > .option-title {
    margin-left: 25px;
    font-size: 10px;
    position: relative;
}

#create-board-container > div > .option-title > label {
    font-size: 16px;
}

#create-board-container > div > .option-title > p {
    position: absolute;
    top: -8px;
    left: -25px;
}

#create-board-container > #finalize-board {
    text-align: center;
    width: 60vw;
}

#create-board-container > #finalize-board > button {
    width: 150px;
    height: 35px;
    font-size: 15px;
    margin-top: 15px;
}

.option {
    margin-left: 25px;
}

.options-container {
    animation: hideOptionsContainer 1s forwards;
}

.options-container > hr {
    margin-left: 25px;
}

.invisible-input:checked + div > .options-container {
    animation: showOptionsContainer 1s forwards;
}

.invisible-input:not(:checked) + div > .option-title:hover + .options-container {
    animation: showOptionsContainer 1s forwards;
}

.invisible-input:not(:checked) + div > .options-container:hover {
    animation: showOptionsContainer 1s forwards;
}

.invisible-input:checked + div > .option-title > p {
    animation: rotate-down-arrow 1s forwards;
}

#create-board-container > div:hover > .option-title > p {
    animation: rotate-down-arrow 1s forwards;
}

.invisible-input:not(:checked) + div > .option-title > p {
    animation: rotate-right-arrow 1s forwards;
}

.invisible-input {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0;
    width: 0;
}

@keyframes hideOptionsContainer {
    0%{
        max-height: 200px;
        opacity: 1;
    }
    100%{
        max-height: 0px;
        opacity: 0;
    }
}

@keyframes showOptionsContainer {
    0%{
        max-height: attr(height);
        opacity: attr(opacity);
    }
    100%{
        max-height: 200px;
        opacity: 1;
    }
}

@keyframes rotate-down-arrow {
    from {
        transform: scale(1);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes rotate-right-arrow {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: scale(1);
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    margin-top: 2px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    margin-top: 2px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0b60b0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0b60b0;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.small-input {
    width: 25px;
}

.large-input {
    width: 55px;
}

.board-toggles {
    position: absolute;
    top: 54px;
    left: 1vw;
    font-size: 30px;
}

.board-toggles > div > .switch > .slider {
    height: 28px;
    width: 43px;
}

.board-toggles > div > .switch > .slider.round:before {
    height: 28px;
    width: 28px;
}

.title-input {
    font-size: 65px;
    height: 70px;
    width: 42vw;
    margin-top: 46.9px;
    margin-bottom: 46.9px;
}

.topic-heading-input {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    font-size: var(--table-heading-font-size);
}

.table-element-input {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    font-size: var(--table-element-font-size);
}

.next-board {
    position: absolute;
    top: 62px;
    right: 1vw;
}

.next-board > button {
    width: 200px;
    height: 60px;
    font-size: 30px;
}

.home-button-container-board {
    position: absolute;
    top: 58px;
    left: calc(1vw + 270px);
}

.home-button-container-board > button {
    width: 150px;
    height: 60px;
    font-size: 30px;
}

.question-container {
    display: none;
}

.question-container > .normal-question-edit-container,
.question-container > .daily-double-question-edit-container,
.question-container > .normal-question-preview-container,
.question-container > .daily-double-question-preview-container  {
    display: none;
}

.question-container > .normal-question-edit-container > .preview-button-container,
.question-container > .daily-double-question-edit-container > .preview-button-container {
    position: absolute;
    top: 62px;
    right: 1vw;
}

.question-container > .normal-question-edit-container > .preview-button-container > button,
.question-container > .daily-double-question-edit-container > .preview-button-container > button {
    width: 200px;
    height: 60px;
    font-size: 30px;
}

.question-container > .normal-question-edit-container > .timers-container,
.question-container > .daily-double-question-edit-container > .timers-container {
    position: absolute;
    left: 1vw;
    top: 68px;
}

.question-container > .normal-question-edit-container > .question-input-container,
.question-container > .normal-question-edit-container > .answer-input-container,
.question-container > .daily-double-question-edit-container > .answer-input-container  {
    margin-top: 19vh;
}

.question-container > .daily-double-question-edit-container > .question-input-container {
    margin-top: 6vh;
}

.question-container > .daily-double-question-edit-container > div > h2 {
    font-size: 60px;
}

.question-container > .normal-question-edit-container > .question-input-container > label,
.question-container > .normal-question-edit-container > .answer-input-container > label,
.question-container > .daily-double-question-edit-container > .question-input-container > label,
.question-container > .daily-double-question-edit-container > .answer-input-container > label  {
    font-size: 60px;
}

.question-container > .normal-question-edit-container > .question-input-container > input,
.question-container > .normal-question-edit-container > .answer-input-container > input,
.question-container > .daily-double-question-edit-container > .question-input-container > input,
.question-container > .daily-double-question-edit-container > .answer-input-container > input  {
    height: 60px;
    width: 85vw;
    font-size: 60px;
}

.question-container > .normal-question-edit-container > .image-input-container,
.question-container > .daily-double-question-edit-container > .image-input-container  {
    margin-top: 5vh;      
}

.question-container > .normal-question-edit-container > .image-input-container > div > label,
.question-container > .daily-double-question-edit-container > .image-input-container > div > label {
    font-size: 30px;
}

.question-container > .normal-question-edit-container > .image-input-container > div > input,
.question-container > .daily-double-question-edit-container > .image-input-container > div > input {
    font-size: 30px;
    height: 35px;
    width: 85vw;
}

.question-container > .normal-question-edit-container > .image-input-container > div > img,
.question-container > .daily-double-question-edit-container > .image-input-container > div > img {
    max-width: 500px;
    max-height: 200px;
}

.question-container > .normal-question-edit-container > .make-daily-double-button-container,
.question-container > .daily-double-question-edit-container > .unmake-daily-double-button-container {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
}

.question-container > .normal-question-edit-container > .make-daily-double-button-container > button,
.question-container > .daily-double-question-edit-container > .unmake-daily-double-button-container > button {
    width: 350px;
    height: 60px;
    font-size: 30px;
}

.question-container > .normal-question-edit-container > .home-button-container,
.question-container > .daily-double-question-edit-container > .home-button-container {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

.question-container > .normal-question-edit-container > .home-button-container > button,
.question-container > .daily-double-question-edit-container > .home-button-container > button {
    width: 150px;
    height: 60px;
    font-size: 30px;
}

.question-container > .normal-question-preview-container > .preview-timer-container,
.question-container > .daily-double-question-preview-container > .preview-timer-container {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    font-size: 40px;
} 

.question-container > .normal-question-preview-container > .preview-question-container > h2 {
    font-size: 70px;
}

.question-container > .normal-question-preview-container > .timer-container,
.question-container > .daily-double-question-preview-container > .timer-container {
    position: absolute;
    top: 1vw;
    left: 1vw;
}

.question-container > .normal-question-preview-container > .preview-answer-container > h2,
.question-container > .daily-double-question-preview-container > .preview-question-container > h2,
.question-container > .daily-double-question-preview-container > .preview-answer-container > h2 {
    font-size: 70px;
    opacity: 0;
}

.question-container > .normal-question-preview-container > .preview-image-container > image,
.question-container > .daily-double-question-preview-container > .preview-image-container > image {
    max-width: 500px;
    max-height: 500px;
}

.question-container > .normal-question-preview-container > .next-button-container,
.question-container > .daily-double-question-preview-container > .next-button-container {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}

.question-container > .normal-question-preview-container > .next-button-container > button,
.question-container > .daily-double-question-preview-container > .next-button-container > button {
    width: 350px;
    height: 60px;
    font-size: 30px;
}

.question-container > .daily-double-question-preview-container > .wager-container > label {
    font-size: 60px;
}

.question-container > .daily-double-question-preview-container > .wager-container > input {
    height: 60px;
    font-size: 60px;
    width: 280px;
}

.question-container > .normal-question-preview-container > .preview-team-viewer > .team-1,
.question-container > .daily-double-question-preview-container > .preview-team-viewer > .team-1 {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
}

.question-container > .normal-question-preview-container > .preview-team-viewer > .team-2,
.question-container > .daily-double-question-preview-container > .preview-team-viewer > .team-2 {
    position: absolute;
    bottom: 1vw;
    left: calc(2vw + 283px);
}

.question-container > .normal-question-preview-container > .preview-team-viewer > .team-3,
.question-container > .daily-double-question-preview-container > .preview-team-viewer > .team-3 {
    position: absolute;
    bottom: 1vw;
    left: calc(3vw + 283px * 2);
}

.timer-container,
.team-view-container {
    background-color: gray;
    border: 3px solid black;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    overflow: hidden;
    color: black;
}

.timer-container > .number-container,
.team-view-container > .team-view-number-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 50px;
}

.timer-container > .timer-number-container > h2,
.team-view-container > .team-view-number-container > h2 {
    margin: 0px;
    font-size: 70px;
}

.team-view-container > .team-view-team-name {
    background-color: black; 
    padding: 0px; 
    border-radius: 0px 0px 10px 10px; 
    font-size: 30px;
}

.team-view-container > .team-view-team-name > h2 {
    margin: 0px;
    font-size: 50px;
}

.team-view-container > .team-view-team-name > h2,
.team-view-container > .team-view-number-container > h2 {
    color: #f8ff00;
}

.timer-container > .timer-buttons-container,
.team-view-container > .team-view-buttons-container {
    background-color: white; 
    padding: 10px; 
    border-radius: 10px 10px 0px 0px;
}

.timer-container > .timer-buttons-container > button,
.team-view-container > .team-view-buttons-container > button {
    color: black;
}

.timer-container > .timer-buttons-container > .start-stop-button,
.team-view-container > .team-view-buttons-container > .add-button {
    background-color: green; 
    border: none; 
    width: 120px; 
    height: 40px; 
    font-size: 30px; 
    border-radius: 10px;
}

.timer-container > .timer-buttons-container > .reset-button,
.team-view-container > .team-view-buttons-container > .substract-button {
    background-color: red; 
    border: none; 
    width: 120px; 
    height: 40px; 
    font-size: 30px; 
    border-radius: 10px; 
    margin-left: 13px;
}

.selected-team {
    border: 3px red solid;
}

.fade {
    animation: forwards fade 1s;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.unfade {
    animation: forwards unfade 1s;
}

@keyframes unfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.already-faded {
    opacity: 0;
}

table, td, th {
    border: 5px solid black;
    border-collapse: collapse;
}

table {
    width: 98vw;
    margin-left: 1vw;
    height: calc(99vh - 180px);
}

th {
    font-size: var(--table-heading-font-size);
    color: white;
    padding: 10px;
}

tr {
    font-size: 60px;
    color: #f8ff00;
    padding: 10px;
}

td {
    font-size: var(--table-element-font-size);
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: auto;
}

button {
    background-color: #0b60b0;
    border: 2px black solid;
    color: #f8ff00;
    height: 35px;
}

button:hover {
    background-color: #073763;
}

body {
    background-color: #073763;
    color: #f8ff00;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}